


<div class = "text-center" id="menu-center">

  <div class = "category active"><h4><a href="#A1">Rush Rhees Library Sketch</a></h4></div>

  <div class = "category" ><h4><a href="#A2">Campus Collage</a></h4></div>

  <div class = "category" ><h4><a href="#A3">Change a Place</a></h4></div>

  <div class = "category" ><h4><a href="#A4">Mandala</a></h4></div>

  <div class = "category" ><h4><a href="#A5">Symbol</a></h4></div>

  <div class = "category" ><h4><a href="#A6">Concrete</a></h4></div>

  <div class = "category" ><h4><a href="#A7">Meditation Space</a></h4></div>

  <div class = "category" ><h4><a href="#A8">Extra Credit</a></h4></div>
</div>


