

<head>
	<meta charset="utf-8">
	<title>{{ site.author.name }}</title>

	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- custom links -->
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>

	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/custom.js"></script>

	<!-- bootstrap -->
	<link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>

	<!-- links -->
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/custom.css" rel="stylesheet">




</head>



