


<div class = "text-center" id="menu-center">

  <div class = "category active"><h3><a href="#aboutme">About Me</a></h3></div>

  <div class = "category" ><h3><a href="#resume">Resume</a></h3></div>

  <div class = "category" ><h3><a href="#techskills">Techskills</a></h3></div>

  <div class = "category" ><h3><a href="#projects">Projects</a></h3></div>

  <div class = "category" ><h3><a href="#internship">Internship</a></h3></div>

  <div class = "category" ><h3><a href="#extra_curriculum">Extra Curriculum</a></h3></div>

    
</div>


