


<div class = "text-center" id="menu-center">

  <div class = "category"><h3><a class = "active" href="#aboutme">aboutme</a></h3></div>

  <div class = "category" ><h3><a href="#resume">resume</a></h3></div>

  <div class = "category" ><h3><a href="#techskills">techskills</a></h3></div>

  <div class = "category" ><h3><a href="#projects">projects</a></h3></div>

  <div class = "category" ><h3><a href="#internship">internship</a></h3></div>

  <div class = "category" ><h3><a href="#extra_curriculum">extra_curriculum</a></h3></div>

    
</div>


